* {
    box-sizing: border-box !important;
}


/* multi select 
[class*="book"] */

/*
 * Main Font rules
 */

 html {
    font-family: Agenda, Arial, sans-serif;
    color: #333;
 }

 body {
     background-color: #fff;
     margin: auto;
     /* width: 1200px; */
     /* padding-top: 72px;
     /* line-height: 150%; /* means 150% increase */
     /* font-size: 16px; */
 }

 body:hover {
    background: url(../img/16_col_with_24px_lines.png) center -12px repeat-y #fff; 
 }

/* 
1em is equal to what ever the font-size
If font-size is 16px, that means 1em = 16px

2em = 32px

- em: Relative to the font-size of the element (2em means 2 times the size of the current font)
- rem: Relative to font-size of the root element
*/


/* 
If 16 is our font-size, then 16 * 1.5 = 24 is our magic number 
24 will be used to determen the vertical rythme of our content
*/

 h1, h2, h3, h4, h5, h6 {
     margin-bottom: 24px;
     font-weight: bold;
 }

 /* Headings */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
    font-weight: bold;
  }
  
h1 {
    font-size: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
    line-height: 1em; /* 24px --> 24 ÷ 24 = 1 */
}

h2 {
    font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
    line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
}

h3 {
    font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
    line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
}

h4 {
    font-size: 1.125em; /* 18px --> 18 ÷ 16 = 1.125 */
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5, h6 {
    font-size: 1em; /* 16px --> 16 ÷ 16 = 1 */
    line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}

/* Paragraph */

/* p {
    margin-bottom: 24px;
}

/* Lists */

/* ul {
    margin-bottom: 24px;  
    list-style: square outside;
}

ul ul {
    margin: 0 0 0 60px;
} */

/* Layout
*/


#header {
    display: flex;
}

#bild_strand_gotland {
    width: 960px;
    flex: 1 1 960px;
    margin-bottom: 10px;
}

#container {
    width: 960px;
    display: flew;
    margin: auto;
    background-color:;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: navbar;
    background-color: ;
    border: 1px solid #333;
    width: 958px;
    height: 40px; 
}

#navbar ul {
    display: inline-flex;
    list-style-type: none;
    font-weight: 400;
    padding-inline-start: 0px;
    justify-content: space-evenly;   
}

#navbar ul li:not(:first-child) {
    margin-left: 80px;
}

ul li a {
    color: lightseagreen;
    text-decoration: none;
    padding: 8px 16px;
}

ul li a:hover {
    background-color: rgb(104, 104, 114);
    color: white;
    border-radius: 5px; 
}

.active {
    background-color: rgb(31, 31, 74);
    color: white;
    border-radius: 5px;   
}

//widget container
#bookWidget-36690-64319-0-1621105362,
.book-widget,
.book-widget-holder,
.book-container,
.book-col-12,
.book-widget-bg,
.book-widget-booking-strip-size,
.book-widget-size-all,
.book-widget-horizontal {
    height: 50px;
    width: 960px;
    padding: 0px !important; 
}

.book-form-inline {
    height: 50px !important;
    margin: 0px !important;
}

.book-widget-bg {
    padding: 0px !important;
}

.book-row,
.book-form-group,
.book-form-group.book-va-bottom {
    height: 50px !important;
    margin-right: 10px !important;
    padding: 0px !important;
}

.sticky {
position: -webkit-sticky;
position: sticky;
top: 0;
}

.mySlides {
    grid-area: mainImg;
    margin-top: 15px;
    border: 1px solid #333; 
}

/* slideshow CSS*/

/* Slideshow container */
.slideshow-container {
  max-width: 480px;
  position: relative;
  margin-left: 20px;
  z-index: -1;
}
/* Hide img by default*/
.mySlides {
    display: none;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .25}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .25}
    to {opacity: 1}
  }



#main_text_gotland {
    margin-top: 20px;
    margin-left: 25px;
    grid-area: mainTxt;
    border: 1px solid #333;
    width: 400px; 
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
                            "mainImg mainTxt"   
    ;
}
#footer {
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #333;
    padding: 20px;
    width: 960px;
    height: 100px;
    grid-template-areas: "karta kontakt adress";
}

#booking-reward {
    width: 260px;
    grid-area: karta;
}

#kontakt_footer {
    padding-left: 70px;
    grid-area: kontakt;
}

#adress_gotland {
    padding-left: 70px;
    grid-area: adress;
}

