* {
    box-sizing: border-box !important;
}


/* multi select 
[class*="book"] */

/*
 * Main Font rules
 */

 html {
    font-family: Agenda, Arial, sans-serif;
    color: #333;
 }

 body {
     background-color: #fff;
     margin: auto;
     /* width: 1200px; */
     /* padding-top: 72px;
     /* line-height: 150%; /* means 150% increase */
     /* font-size: 16px; */
 }

 body:hover {
    background: url(../img/16_col_with_24px_lines.png) center -12px repeat-y #fff; 
 }

/* 
1em is equal to what ever the font-size
If font-size is 16px, that means 1em = 16px

2em = 32px

- em: Relative to the font-size of the element (2em means 2 times the size of the current font)
- rem: Relative to font-size of the root element
*/


/* 
If 16 is our font-size, then 16 * 1.5 = 24 is our magic number 
24 will be used to determen the vertical rythme of our content
*/

 /* Headings */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
    font-weight: bold;
  }
  
h1 {
    font-size: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
    line-height: 1em; /* 24px --> 24 ÷ 24 = 1 */
}

h2 {
    font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
    line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
}

h3 {
    font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
    line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
}

h4 {
    font-size: 1.125em; /* 18px --> 18 ÷ 16 = 1.125 */
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5, h6 {
    font-size: 1em; /* 16px --> 16 ÷ 16 = 1 */
    line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}

/* Paragraph */

p {
    margin-bottom: 24px;
    line-height: 24px;
}


/* Layout */



#header {
    display: flex;
}

#bild_strand_gotland {
    width: 960px;
    flex: 1 1 960px;
    margin-bottom: 10px;
}

main {
    display: grid;
    width: 960px;
    margin: auto;
    background-color:;
}

#navbar {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    grid-area: navbar;
    background-color: ;
    border: 1px solid #333;
    width: 958px;
    height: 40px; 
}

#navbar ul {
    display: inline-flex;
    list-style-type: none;
    font-weight: 400;
    padding-inline-start: 0px;
    justify-content: space-evenly;   
}

#navbar ul li:not(:first-child) {
    margin-left: 80px;
}

ul li a {
    color: lightseagreen;
    text-decoration: none;
    padding: 8px 16px;
}

ul li a:hover {
    background-color: rgb(104, 104, 114);
    color: white;
    border-radius: 5px; 
}

.active {
    background-color: rgb(31, 31, 74);
    color: white;
    border-radius: 5px;   
}

/*widget container*/
#bookWidget-36690-64319-0-1621105362,
.book-widget,
.book-widget-holder,
.book-container,
.book-col-12,
.book-widget-bg,
.book-widget-booking-strip-size,
.book-widget-size-all,
.book-widget-horizontal {
    margin: auto;
    height: 50px;
    width: 960px;
    padding: 0px !important; 
}

.book-form-inline {
    height: 50px !important;
    margin: 0px !important;
}

.book-widget-bg {
    padding: 0px !important;
}

.book-row,
.book-form-group,
.book-form-group.book-va-bottom {
    height: 50px !important;
    margin-right: 10px !important;
    padding: 0px !important;
}

.sticky {
position: -webkit-sticky;
position: sticky;
top: 0;
}

.mySlides {
    grid-area: mainImg;
    margin-top: 15px;
}

/* slideshow CSS*/

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-left: 10px;
  z-index: -1;
}
/* Hide img by default*/
.mySlides {
    display: none;
  }

  .fadeinout {
    -webkit-animation-name: fadeinout;
    -webkit-animation-duration: 8s;
    animation-name: fadeinout;
    animation-duration: 8s;
  }
  
  @-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }

#mainHeading {
   color: lightseagreen;
   text-align: center;
   margin-top: 10px; 
}

#mainTxt {
    margin-top: 15px;
    margin-left: 25px;
    grid-area: mainTxt;
    border: 1px solid #333;
    width: 435px;
    color: #333; 
}
#mainInfo {
    margin-top: 0px;
    margin-bottom: 0px;
}

#infoList {
    margin-top: 12px;
    margin-bottom: 12px;
}

#infoList li {
    line-height: 24px;
}

#reviews {
    margin-left: 10px;
    grid-area: reviews;
    border: 1px solid #333;
    width: 490px;
    line-height: 24px;
    font-style: italic; 
}

.review {
    display: inline-block;
    height: 96px;
    vertical-align: text-top;
    width: 145px;
    text-align: center;
}

#firstReview,
#middleReview {
    margin: 10px 20px 0px 0px;
}


#middleReview {
    width: 165px;
}

#lastReview {
    margin: 10px 0px 0px 0px;
    width: 125px;
}

#main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
                            "mainImg mainTxt "
                            "reviews mainTxt"
                            "footer footer"                        
    ;
}

/* BOENDE */
#propertyImg {
    grid-area: propertyImg;
}

#propertyTxt {
    grid-area: propertyTxt;
}

#studioSmallImg {
    grid-area: studioSmallImg;
    display: grid;
    justify-items: center;
    border-bottom: 2px solid #333;
}
#studioSmallTxt {
    grid-area: studioSmallTxt;
    border-bottom: 2px solid #333;
    padding-left: 15px;
    padding-right: 15px;
}

#studioStandardImg {
    grid-area: studioStandardImg;
    display: grid;
    justify-items: center;
    border-bottom: 2px solid #333;
}
#studioStandardTxt {
    grid-area: studioStandardTxt;
    border-bottom: 2px solid #333;
    padding-left: 15px;
    padding-right: 15px;
}

#studioLargeImg {
    grid-area: studioLargeImg;
    display: grid;
    justify-items: center;
    border-bottom: 2px solid #333;
}
#studioLargeTxt {
    grid-area: studioLargeTxt;
    border-bottom: 2px solid #333;
    padding-left: 15px;
    padding-right: 15px;
}

#studioLoftImg {
    grid-area: studioLoftImg;
    display: grid;
    justify-items: center;
}
#studioLoftTxt {
    grid-area: studioLoftTxt;
    padding-left: 15px;
    padding-right: 15px;
}


#boende {
    margin-top: 15px;
    grid-template-columns: 480px 480px;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 30px;
    grid-template-areas: 
                            /* "propertyImg propertyTxt" */
                            "studioSmallImg studioSmallTxt"
                            "studioStandardImg studioStandardTxt"
                            "studioLargeImg studioLargeTxt"
                            "studioLoftImg studioLoftTxt"
    ;
}

.w3-content { 
    margin-left:auto;
    margin-right:auto;
    max-width:960px
}

.w3-row-padding:after,
.w3-row-padding:before {
    content:"";
    display:table;
    clear:both
}

.w3-row-padding,
.w3-row-padding>.w3-col {
    padding:0 8px;
}

.w3-section {
    margin-top:16px!important;
    margin-bottom:16px!important;
    display: inline-flex;
    justify-content: center;
}

.w3-col {
    /* float: left; */
    width: 100%
}

.w3-col.s4 {
    width: 19%
}

.w3-opacity,
.w3-hover-opacity:hover {
    opacity:0.60
}

.w3-hover-opacity-off:hover {
    opacity:1
}

#propertyImg1,
#studioSmallImg1,
#studioStandardImg1,
#studiolargeImg1,
#studioLoftImg1 {
    width: 90%;   
}

#propertyImg2,
#propertyImg3,
#propertyImg4,
#propertyImg5,
#propertyImg6,
#studioSmallImg2,
#studioSmallImg3,
#studioSmallImg4,
#studioSmallImg5,
#studioStandardImg2,
#studioStandardImg3,
#studioStandardImg4,
#studioStandardImg5,
#studiolargeImg2,
#studiolargeImg3,
#studiolargeImg4,
#studiolargeImg5,
#studioLoftImg2,
#studioLoftImg3,
#studioLoftImg4,
#studioLoftImg5 {
    width: 90%;
    display:none;
}

.studio_header {
    display: grid;
    justify-items: center;
    margin: 0px;
}

/* Att gora */
#badImg {
    grid-area: badImg;
    width: 230px;
    margin-left: 10px
}
#badTxt {
    margin: 0px;
    grid-area: badTxt;
    padding: 0px 10px 0px 10px;
}

#golfImg {
    grid-area: golfImg;
    width: 230px;
    margin-left: 10px;
}
#golfTxt {
    margin: 0px;;
    grid-area: golfTxt;
    padding: 0px 10px 0px 10px;;
}

#fiskeImg {
    grid-area: fiskeImg;
    width: 230px;
    margin-left: 10px;
}
#fiskeTxt {
    margin: 0px;
    grid-area: fiskeTxt;
    padding: 0px 10px 0px 10px;;
}

#fagelImg {
    grid-area: fagelImg;
    width: 230px;
    margin-left: 10px; 
}
#fagelTxt {
    margin: 0px;
    padding: 0px 10px 0px 10px;;
    grid-area: fagelTxt; 
}

#att_gora {
    margin-top: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
    grid-template-areas: 
                    "badImg badTxt golfImg golfTxt"
                    "fiskeImg fiskeTxt fagelImg fagelTxt"
    ;
}

/* Om oss */

#familj {
    grid-area: familjImg;
    width: 400px;
    margin: auto auto;
}

#omoss {
    grid-area: omossTxt;
    padding: 0px 40px 0px 15px;
}


#om_oss {
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
    grid-template-areas: 
                    "familjImg omossTxt"
    ;
}


#footer {
    margin: auto;
    margin-top: 30px;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 85px;
    align-items: center;
    justify-items: center;
    border: 1px solid #333;
    width: 960px;
    grid-template-areas: "rating kontakt adress";
}

#booking-reward {
    width: 260px;
    grid-area: rating;
}

#kontakt_footer {
    padding-left: 70px;
    grid-area: kontakt;
}

#adress_gotland {
    padding-left: 70px;
    grid-area: adress;
}

/* Tablet screen */
@media screen and (max-width: 768px) {
    #main {
    width: 768px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
                            "mainImg mainTxt "
                            "reviews mainTxt"
                            "footer footer"                        
                    ;
            }

    #footer {
        grid-template-columns: repeat(2, 1fr);
        width: 768px;
        grid-template-areas: "rating kontakt";  
    }
}


/* Mobile screens */
@media screen and (max-width: 500px) {
    #container {
        width: 300px;
    }
}