* {
    box-sizing: border-box !important;
}


/* multi select 
[class*="book"] */

/*
 * Main Font rules
 */

 html {
    font-family: Arimo, Arial, sans-serif;
    color: var(--text);
 }

 :root {
  --main-bg: #fcefe9;
  --standout-bg: #ede2dd;
  --headlines: #6B3010;
  --hover: #6B3010;
  --active: #6B3010;
  --text: #474747;
  --softText: #605E5E;
  --border: #605E5E;
}

body {
    margin: auto;
}

 /* Headings */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
    font-weight: bold;
  }
  
h1 {
    font-size: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
    line-height: 1em; /* 24px --> 24 ÷ 24 = 1 */
}

h2 {
    font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
    line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
}

h3 {
    font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
    line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
}

h4 {
    font-size: 1.125em; /* 18px --> 18 ÷ 16 = 1.125 */
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5, h6 {
    font-size: 1em; /* 16px --> 16 ÷ 16 = 1 */
    line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}

/* Paragraph */

p {
    margin-bottom: 24px;
    line-height: 24px;
    color: var(--text);
}

.review {
    color: var(--softText);
}

/* Layout */



#header {
    display: flex;
}

#bild_strand_gotland {
    width: 960px;
    flex: 1 1 960px;
}

#container {
    width: 960px;
    margin: auto auto;
    background-color: var(--main-bg);
}

main {
    display: grid;
    width: 960px;
    margin: auto;
    padding-bottom: 30px;
}


/*widget container*/
.book-container,
.book-col-12,
.book-widget-bg,
.book-widget-booking-strip-size,
.book-widget-size-all,
.book-widget-horizontal {
    margin: auto;
    height: 36px;
    width: 960px;
    padding-top: 7px !important;
}

.book-container {
    height: 50px;
    background-color: var(--main-bg);
}

.book-form-inline {
    margin-bottom: 0px !important;
    height: 36px !important;
    width: 960px;
}

.book-widget-bg {
    padding: 0px !important;
}

.book-widget,
.book-widget-holder,
.book-row,
.book-form-group,
.book-form-group.book-va-bottom {
    height: 50px;
    padding: 0px !important;
}

.book-row{
    margin: 0px 0px !important;
    width: 960px;
    border-bottom: 1px solid var(--border);
}

.book-btn,
.book-btn-success, 
.book-btn-block {
    width: 100px !important;
}

.sticky {
position: -webkit-sticky;
position: sticky;
margin: auto;
height: 50px;
width: 960px;
padding: 0px !important;
top: 0;
z-index: 2;
}


#navbar {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    grid-area: navbar;
    background-color: ;
    border-bottom: 1px solid var(--text);
    width: 960px;
    height: 50px;
    background-color: var(--standout-bg); 
}

#navbar ul {
    display: inline-flex;
    list-style-type: none;
    font-weight: 400;
    padding-inline-start: 0px;
    justify-content: space-evenly;   
}

#navbar ul li:not(:first-child) {
    margin-left: 80px;
}

ul li a {
    color: var(--headlines);
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 600;
}

ul li a:hover {
    background-color: var(--hover);
    color: white;
    border-radius: 5px; 
}

.active {
    background-color: var(--active);
    color: white;
    border-radius: 5px;   
}



.mySlides {
    grid-area: mainImg;
    margin-top: 15px;
}

/* slideshow CSS*/
.Slide_img {
    width: 490px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-left: 10px;
}
/* Hide img by default*/
.mySlides {
    display: none;
  }

  .fadeinout {
    -webkit-animation-name: fadeinout;
    -webkit-animation-duration: 8s;
    animation-name: fadeinout;
    animation-duration: 8s;
  }
  
  @-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }

#mainHeading {
   color: var(--text);
   text-align: center;
   margin-top: 10px; 
}

#mainTxt {
    margin-top: 15px;
    margin-left: 25px;
    grid-area: mainTxt;
    /* border: 1px solid #333; */
    width: 94%;
    color: #333; 
}
#mainInfo {
    margin-top: 0px;
    margin-bottom: 0px;
}

#infoList {
    margin-top: 12px;
    margin-bottom: 12px;
}

#infoList li {
    line-height: 24px;
}

#reviews {
    margin-left: 10px;
    grid-area: reviews;
    /* border: 1px solid #333; */
    width: 98%;
    line-height: 24px;
    font-style: italic; 
}

.review {
    display: inline-block;
    height: 96px;
    vertical-align: text-top;
    width: 145px;
    text-align: center;
}

#firstReview,
#middleReview {
    margin: 10px 20px 0px 0px;
}


#middleReview {
    width: 165px;
}

#lastReview {
    margin: 10px 0px 0px 0px;
    width: 125px;
}

#main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
                            "mainImg mainTxt "
                            "reviews mainTxt"
                            "footer footer"                        
    ;
}

/* BOENDE */
#propertyImg {
    grid-area: propertyImg;
}

#propertyTxt {
    grid-area: propertyTxt;
}

#studioSmallImg {
    grid-area: studioSmallImg;
    display: grid;
    justify-items: center;
    border-bottom: 2px solid var(--border);
}
#studioSmallTxt {
    grid-area: studioSmallTxt;
    border-bottom: 2px solid var(--border);
    padding-left: 15px;
    padding-right: 15px;
}

#studioStandardImg {
    grid-area: studioStandardImg;
    display: grid;
    justify-items: center;
    border-bottom: 2px solid var(--border);
}
#studioStandardTxt {
    grid-area: studioStandardTxt;
    border-bottom: 2px solid var(--border);
    padding-left: 15px;
    padding-right: 15px;
}

#studioLargeImg {
    grid-area: studioLargeImg;
    display: grid;
    justify-items: center;
    border-bottom: 2px solid var(--border);
}
#studioLargeTxt {
    grid-area: studioLargeTxt;
    border-bottom: 2px solid var(--border);
    padding-left: 15px;
    padding-right: 15px;
}

#studioLoftImg {
    grid-area: studioLoftImg;
    display: grid;
    justify-items: center;
}
#studioLoftTxt {
    grid-area: studioLoftTxt;
    padding-left: 15px;
    padding-right: 15px;
}


#boende {
    padding-top: 15px;
    grid-template-columns: 480px 480px;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 30px;
    grid-template-areas: 
                            /* "propertyImg propertyTxt" */
                            "studioSmallImg studioSmallTxt"
                            "studioStandardImg studioStandardTxt"
                            "studioLargeImg studioLargeTxt"
                            "studioLoftImg studioLoftTxt"
    ;
}

.w3-content { 
    margin-left:auto;
    margin-right:auto;
    max-width:960px
}

.w3-row-padding:after,
.w3-row-padding:before {
    content:"";
    display:table;
    clear:both
}

.w3-row-padding,
.w3-row-padding>.w3-col {
    padding:0 8px;
}

.w3-section {
    margin-top:16px !important;
    margin-bottom:16px !important;
    display: inline-flex;
    justify-content: center;
}

.w3-col {
    /* float: left; */
    width: 100%
}

.w3-col.s4 {
    width: 19%
}

.w3-opacity,
.w3-hover-opacity:hover {
    opacity:0.60
}

.w3-hover-opacity-off:hover {
    opacity:1
}

#propertyImg1,
#studioSmallImg1,
#studioStandardImg1,
#studiolargeImg1,
#studioLoftImg1 {
    width: 90%;   
}

#propertyImg2,
#propertyImg3,
#propertyImg4,
#propertyImg5,
#propertyImg6,
#studioSmallImg2,
#studioSmallImg3,
#studioSmallImg4,
#studioSmallImg5,
#studioStandardImg2,
#studioStandardImg3,
#studioStandardImg4,
#studioStandardImg5,
#studiolargeImg2,
#studiolargeImg3,
#studiolargeImg4,
#studiolargeImg5,
#studioLoftImg2,
#studioLoftImg3,
#studioLoftImg4,
#studioLoftImg5 {
    width: 90%;
    display:none;
}

.studio_header {
    display: grid;
    justify-items: center;
    margin: 0px;
}

/* Att gora */

#badImg {
    grid-area: badImg;
    width: 230px;
    margin-left: 10px
}
#badTxt {
    margin: 0px;
    grid-area: badTxt;
    padding: 0px 10px 0px 10px;
}

#golfImg {
    grid-area: golfImg;
    width: 230px;
    margin-left: 10px;
}
#golfTxt {
    margin: 0px;;
    grid-area: golfTxt;
    padding: 0px 10px 0px 10px;;
}

#fiskeImg {
    grid-area: fiskeImg;
    width: 230px;
    margin-left: 10px;
}
#fiskeTxt {
    margin: 0px;
    grid-area: fiskeTxt;
    padding: 0px 10px 0px 10px;;
}

#fagelImg {
    grid-area: fagelImg;
    width: 230px;
    margin-left: 10px; 
}
#fagelTxt {
    margin: 0px;
    padding: 0px 10px 0px 10px;;
    grid-area: fagelTxt; 
}

#att_gora {
    padding-top: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
    grid-template-areas: 
                    "badImg badTxt golfImg golfTxt"
                    "fiskeImg fiskeTxt fagelImg fagelTxt"
    ;
}

/* Om oss */

#familj {
    grid-area: familjImg;
    width: 400px;
    margin: auto auto;
}

#omoss {
    grid-area: omossTxt;
    padding: 0px 40px 0px 15px;
}


#om_oss {
    padding-top: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 30px;
    grid-template-areas: 
                    "familjImg omossTxt"
    ;
}


/* Kontakt */

#kontakt_text,
#form {
    display: flexbox;
    margin: 25px 60px 15px 60px;
}
input[type="text"], 
input[type="email"], 
input[type="comment"],
input[type="submit"], 
select,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #333;
}


#footer {
    margin: auto;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 85px;
    align-items: center;
    justify-items: center;
    border-top: 1px solid var(--border);;
    border-bottom: 1px solid var(--border);;
    width: 960px;
    background-color: var(--standout-bg); 
    grid-template-areas: "rating kontakt adress";
}

#booking-reward {
    width: 260px;
    grid-area: rating;
}

#kontakt_footer {
    padding-left: 70px;
    grid-area: kontakt;
}

#tel,
#mail {
    color: var(--text);
}

#adress_gotland {
    padding-left: 70px;
    grid-area: adress;
}

  /* Tablet screen */
@media screen and (max-width: 768px) {

#header {
    width: 768px;
}
#bild_strand_gotland {
    width: 768px;
    flex: 1 1 768px;
    margin-bottom: auto 10px;
}

body {
    background-color: var(--main-bg);
}

main {
    width: 768px;
}
#container {
    width: 768px;
    margin: auto auto;
}

        /*widget container*/
.book-row,
.book-container {
    width: auto;
    margin: 0px 0px 0px 0px !important;
}

#bookWidget-36690-64319-0-1621105362,
.book-widget,
.book-widget-holder,
.book-col-12,
.book-widget-bg,
.book-widget-booking-strip-size,
.book-widget-size-all,
.book-widget-horizontal {
    float:left;
    height: 50px;
    width: 768px;
    padding: 0px !important;
}

.book-col-7,
.book-col-12,
.book-form-control, 
.datepicker, 
.hasDatepicker {
    width: 150px !important;
}


.book-btn,
.book-btn-success, 
.book-btn-block {
    width: 100px !important;
}

.book-form-inline {
    width: 768px;
    height: 50px;
    margin: 0px;
}

.book-row,
.book-form-group,
.book-form-group.book-va-bottom {
    margin-right: 0px !important;
    padding: 0px !important;
}

#book-checkin-holder {
    width: 150px !important;
    margin-right: 0px !important;
    grid-area: checkIn;
    justify-self: center;
}

#book-checkout-holder {
    width: 150px !important;
    margin-right: 0px !important;
    grid-area: checkOut;
    justify-self: center;
}

#book-guests-holder {
    width: 150px !important;
    margin-right: 0px !important;
    grid-area: guests;
    justify-self: center;
}

.book-col-7,
.book-btn {
    width: 130px !important;
    margin-right: 0px !important;
    grid-area: book;
    text-align: center;
}

.book-form-inline {
    padding-top: 5px;
    width: 768px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    grid-template-areas: 
                            "checkIn checkOut guests book"
    ;
}

#navbar {
    width: 768px;
    height: auto;
}

#navbar-list {
    margin: 0px 10px 0px 10px;
    text-align: center;
    height: 40px;
}

ul li a {
    padding: 6px 12px;
    font-weight: 400;
}

ul li {
   align-self: center;
}

/* Index */

        #main {
        width: 768px;
        grid-template-areas: 
                            "mainImg reviews "
                            "mainTxt mainTxt"
                            "footer footer"                        
    ;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin-left: 10px;
  }

  .Slide_img {
    width: 460px;
}

    #mainTxt {
        margin: auto auto;
        margin-top: 10px;
    }

     #reviews {
        height: 306.6667px;         
        text-align: center;
        margin-top: 15px;
        width: 96%;
     }
     
     #firstReview,
     #middleReview,
     #lastReview {
         margin: 10px 0px 0px 0px;
         width: 100%;     
     }
     
    /* Boende  */

    #boende {
        grid-template-columns: 400px 368px;
    }

    /* Att göra */

body {
    background-color: var(--main-bg);
}

    #att_gora {
        margin-top: 25px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        grid-template-areas: 
                        "badImg badTxt" 
                        "golfTxt golfImg"
                        "fiskeImg fiskeTxt" 
                        "fagelTxt fagelImg"
        ;
    }

    #badImg,
    #fiskeImg {
        width: 300px;
        margin-left: 78px;
    }
    
    #golfImg,
    #fagelImg {
        width: 300px;
        margin-right: 78px;
    }

    #badTxt,
    #fiskeTxt {
        width: 220px;
        margin-left: 10px;
        padding: 0px;
    }

    #golfTxt,
    #fagelTxt {
        width: 220px;
        padding: 0px;
        margin-left: 158px;
    }
        
    /* Om oss */

    body {
    background-color: var(--main-bg);
}

    #familj {
        width: 350px;
        margin: auto auto;
    }
  
    /* kontakt */
    
        #footer {
            grid-template-columns: repeat(2, 1fr);
            width: 768px;
            padding: 0px 10px 0px 10px;
            grid-template-areas: "rating kontakt adress";  
        }
    }
    
    
    
    /* Mobile screen */
@media screen and (max-width: 400px) {

    #header {
        width: 375px;
    }
    #bild_strand_gotland {
        width: 375px;
        flex: 1 1 375px;
        margin-bottom: 10px;
    }
    main {
        width: 375px !important;
    }
    #container {
        width: 375px;
        margin: auto auto;
    }
    
            /*widget container*/
    
    
    
    .book-container {
        width: 375px;
        height: auto;
        margin: 0px 0px 0px 0px !important;
    }

    .book-row, 
    .book-form-group, 
    .book-form-group.book-va-bottom {
        height: auto !important;
        margin: auto auto;
    }
    
    #bookWidget-36690-64319-0-1621105362,
    .book-widget,
    .book-widget-holder,
    .book-col-12,
    .book-widget-bg,
    .book-widget-booking-strip-size,
    .book-widget-size-all,
    .book-widget-horizontal {
        float: left;
        height: 100px;
        width: 375px;
        padding: 0px !important;
    }
    
    .book-col-7,
    .book-form-control, 
    .datepicker, 
    .hasDatepicker {
        width: 130px !important;
    }
    
    /* .book-col-7 {
        display: inline-flex;
    } */

    #book-checkin-holder {
        width: 130px !important;
        margin-bottom: 10px;
        grid-area: checkIn:
    }

    #book-checkout-holder {
        width: 130px !important;
        margin-bottom: 10px;
        grid-area: checkOut;
        position: relative;
        right: 25px;
    }
    
    #book-guests-holder {
        width: 130px !important;
        margin-bottom: 10px;
        grid-area: guests;
        position: relative;
        bottom: 8px;
    }

    .book-btn {
        width: 130px !important;
        margin-bottom: 10px;
        grid-area: book;
        position: relative;
        bottom: 10px;
        right: 25px;
    }
    
    /* .book-btn,
    .book-btn-success, 
    .book-btn-block {
        width: 130px !important;
    } */
    
    .book-form-inline {
        width: 375px;
        justify-items: center;
        margin: auto auto;
        height: 100px !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
                                "checkIn checkOut"
                                "guests book"
        ;
    }

    .sticky {
position: -webkit-sticky;
position: sticky;
margin: auto;
height: 50px;
width: 375px;
padding: 0px !important;
top: 0;
z-index: 2;
}

    #navbar {
        display: flex;
        width: 375px;
        height: auto;
        justify-content: space-around;
    }
    
    ul li a {
        padding: 6px 12px;
        flex-grow: 1;
    }
    
    #att_gora_gotland,
    #om_oss_gotland {
        display: none;
    }

    /* #hem_gotland,
    #boende_gotland,
    #kontakt_gotland {
        width: 60px;
        padding: 10px;
    } */

    #navbar ul li:not(:first-child) {
        margin: auto;
    }
    
    /* Index */
    
            #main {
            width: 375px;
            grid-template-columns: 1fr;
            grid-template-areas: 
                                "mainImg"
                                "mainTxt"
                                "reviews"
                                "footer"                        
        ;
    }
    .slideshow-container {
        width: 375px;
        margin: auto auto;
      }
    
      .Slide_img {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    
        #mainTxt {
            width: 100%;
            padding: 0px 10px 0px 10px;
            margin-bottom: 10px;
        }
    
         #reviews {
            height: 180px;         
            text-align: center;
            margin: auto;
            width: 100%;
            padding: 0px 10px 0px 10px;
         }
         
         #firstReview,
         #middleReview,
         #lastReview {
             margin: 10px 0px 0px 0px;
             width: 100%;
             height: 50px;     
         }
         
        /* Boende  */
    
        #propertyImg {
            grid-area: propertyImg;
        }
        
        #propertyTxt {
            grid-area: propertyTxt;
        }
        
        #studioSmallImg {
            grid-area: studioSmallImg;
            display: grid;
            justify-items: center;
            border-bottom: none
        }
        #studioSmallTxt {
            grid-area: studioSmallTxt;
            border-bottom: 2px solid #333;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 15px;
        }
        
        #studioStandardImg {
            grid-area: studioStandardImg;
            display: grid;
            justify-items: center;
            border-bottom: none
        }
        #studioStandardTxt {
            grid-area: studioStandardTxt;
            border-bottom: 2px solid #333;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 15px;
        }
        
        #studioLargeImg {
            grid-area: studioLargeImg;
            display: grid;
            justify-items: center;
            border-bottom: none
        }
        #studioLargeTxt {
            grid-area: studioLargeTxt;
            border-bottom: 2px solid #333;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 15px;
        }
        
        #studioLoftImg {
            grid-area: studioLoftImg;
            display: grid;
            justify-items: center;
        }
        #studioLoftTxt {
            grid-area: studioLoftTxt;
            padding-left: 10px;
            padding-right: 10px;
        }
        .studio_header {
            display: none;
        }

#studioSmallImg::before {
    content: "Studio Small";
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}        
#studioStandardImg::before {
    content: "Studio Standard";
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}        
#studioLargeImg::before {
    content: "Studio Large";
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}        
#studioLoftImg::before {
    content: "Studio Loft";
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}        
        
        #boende {
            display: grid;
            margin-top: 15px;
            grid-template-columns: 375px;
            grid-template-rows: auto;
            justify-content: center;
            row-gap: 0px;
            grid-template-areas: 
                                    /* "propertyImg propertyTxt" */
                                    "studioSmallImg" 
                                    "studioSmallTxt"
                                    "studioStandardImg" 
                                    "studioStandardTxt"
                                    "studioLargeImg" 
                                    "studioLargeTxt"
                                    "studioLoftImg" 
                                    "studioLoftTxt"
            ;
        }
    
        /* Att göra  */
    
     
        #att_gora {
            margin-top: 15px;
            grid-template-columns: 1fr;
            row-gap: 15px;
            grid-template-areas: 
                            "badImg" 
                            "badTxt"
                            "golfImg"
                            "golfTxt"
                            "fiskeImg"
                            "fiskeTxt"
                            "fagelImg" 
                            "fagelTxt"
            ;
        }
        
        #badTxt,
        #fiskeTxt,
        #golfTxt,
        #fagelTxt,
        #golfImg,
        #fagelImg,
        #badImg,
        #fiskeImg {
            width: 300px;
            margin: auto auto;
        }
        
    
       
        /* Om oss */
    
        #om_oss {
            display: block;
        }

        #familj {
            width: 350px;
            margin: auto auto;
        }
      
        /* kontakt */
        
        #kontakt_text,
        #form {
        display: flexbox;
        margin: 15px 30px 15px 30px;
        }

        .form-row {
            padding: 10px;
        }

        /* Footer */
        #adress_gotland,
        #kontakt_footer {
            width: 260px;
            padding: 0px;
        }

            #footer {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 70px);
                width: 375px;
                height: auto;
                margin-top: 10px;
                padding: 0px;
                grid-template-areas: "kontakt"
                                     "adress"
                                     "rating"                    
                ;  
            }
        }


  